<div th:fragment="frag_index_content" class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Dashboard</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Dashboard v1</li>
					</ol>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<!-- 도넛차트, 바차트 -->
			<div class="row">
				<!-- 가로 최대길이 12칸, 화면이 작으면 자동으로 차트는 밑으로배치 -->
				<!--도넛차트-->
				<div class="col-md-6">



					<div class="card card-danger">
						<div class="card-header">
							<h3 class="card-title">Donut Chart</h3>
							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="chartjs-size-monitor">
								<div class="chartjs-size-monitor-expand">
									<div class=""></div>
								</div>
								<div class="chartjs-size-monitor-shrink">
									<div class=""></div>
								</div>
							</div>
							<!-- char.js => canvas 기반 차트 시각화 -->
							<canvas id="donutChart"
								style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 317px;"
								width="634" height="500" class="chartjs-render-monitor"></canvas>
						</div>

					</div>



				</div>
				<!--바차트-->
				<div class="col-md-6">


					<div class="card card-success">
						<div class="card-header">
							<h3 class="card-title">Bar Chart</h3>
							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="chart">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class=""></div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class=""></div>
									</div>
								</div>
								<canvas id="barChart"
									style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 317px;"
									width="634" height="500" class="chartjs-render-monitor"></canvas>
							</div>
						</div>

					</div>




				</div>
			</div>
			<!-- 테이블차트 -->
			<div class="row">
				<!--테이블차트-->
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">jsGrid</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div id="jsGrid1"></div>
						</div>
						<!-- /.card-body -->
					</div>
				</div>
			</div>

		</div><!-- /.container-fluid -->
	</section>	
	<script>
		/*
			1. 요소 정의 및 이벤트 처리등 
				- jQuery(js 프레임웍) + js 혼용 사용
			2. 차트
				- chart.js, jsgrid
			3. 통신 (ajax)
				- axios 
			4. (*)라이브러리 설치 
				- cdn 방식 적용
					- 이미 적용되어 있음
		*/
		// html에 script을 삽입시켜서, 클라이언트기반에서 차트 동적 시각화 가능
		// 위치, </body> 닫히기 직전, 그 외의 지점은 로딩 타이밍 체크 필요
		// id => 문서내 고유한값 => 요소를 특정 가능 => 이벤트 처리하여 동적구성
		// 도넛 차트 : id="donutChart"
		// 바 차트 : id="barChart"
		// 테이블 차트 : id="jsGrid1"

		// 1. 서버측 통신을 통해 데이터 획득
		//    ajax 통신 (주의사항 cross doamin )
		axios.get('/api/sales')
			.then(function (response) {
				// 성공 핸들링
				let { data } = response;
				console.log('성공', data );
				// 정보 추출 => 배열구성
				// data => 카테고리 배열, 가격 배열, amount만 있는 배열 추출-생성
				// 또다른배열 = 배열.map(콜백함수)
				//let categories = data.map( sale => sale.category )
				//console.log( categories )

				initAllChart( data );
			})
			.catch(function (error) {
				// 에러 핸들링
				console.log('에러 ', error);
			})
			.finally(function () {
				// 항상 실행되는 영역
				console.log('통신 완료');
			});
		
		// 차트 생성 종합 함수
		function initAllChart ( sales ) {
			// 1. 데이터 파싱 및 추출
			// 2. 차트 생성
			// 	2-1. 도넛 차트 구성 함수
			initDNChart();
			// 	2-2. 바 차트 구성 함수
			initBarChart();
			// 	2-3. 테이블 구성 함수
			initTableChart();
		}
		// 차트 만드는 함수
		function initDNChart () {

		}
		function initBarChart () {

		}
		function initTableChart () {

		}
		
	</script>
</div>
<!-- /.content-wrapper -->